.name	{
	color:black;
	font-size:80px;
}
.namesub	{
	color:black;
}
.numberone	{
	color: #296D27  ;
	font-size: 40px

}
.friendp	{
	color:#296D27  ;
	font-size:20px;
}
.numbertwo	{
	color:blue;
	font-size: 40px;
}
.sonp	{
	color:blue;
	font-size:20px;
}
.numberthree	{
	color:red;
	font-size:40px;

}
.studentp	{
	color:red;
	font-size:20px;
}
.numberfour	{
	color:purple;
	font-size:40px;
}
.brotherp	{
	color:purple;
	font-size:20px;
}
.wrapper	{
	width:95%;
	margin:0 auto;
	background-color:orange;
}

.wrapper2	{
	width: 80%;
	background-color: orange;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 15px;
}

nav{
	text-align: center;
}

footer{
	text-align: center;
}

img	{
	width:200px;
	border-style: solid;
	border-color: black 
}
body {
	background-color: #00FFD1   
}

h3	{
	text-align: center;
}

h1	{
	text-align: center;
}

h2	{
	text-align: center;
}

a {
	border: black 2px solid;
	padding: 10px;
	margin:10px;
	background-color:red;
	display: inline;
	text-align: center;
	font-size: 20px;
}

a:link	{
	color:black;
}

a:hover	{
	color:#FF09E5;
}

a:visited	{
	color: black;
}

a:active	{
	color:#50FF09;
}